.core-left {
  width: 260px;
}

@media (max-width: 768px) {
  .core-left {
    display: none;
  }
}
.search-icon {
  position: absolute;
  left: 20px;
  height: 1.8em;
  width: 0.9em;
}
.search-input {
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin: 0 20px;
  padding: 5px 10px 5px 20px;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  color: #2d292a;
  background-color: transparent;
  outline: none;
}
